:root {
    background: #f0edff;
    color: #352b65;
    font-family: sans-serif, serif;
}

.container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.container-samples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content-base {
    padding: 1em;
    margin: 5px;
    border-radius: 15px;
}

.content-info {
    background: #dbd4fd;
    border-radius: 15px;
}

.content-light {
    background: white;
    color: black;
}

.content-dark {
    background: black;
    color: white;
}

.content-low-contrast {
    background: #dbd4fd;
    color: #bcaeff;
}

.font-sans-serif {
    font-family: sans-serif;
}

.font-serif {
    font-family: serif;
}

.font-system-ui {
    font-family: system-ui;
}

.font-size-normal {
    font-size: normal;
}

.font-size-small {
    font-size: small;
}
